.viewContainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.justifySpaceAround {
  justify-content: space-around;
}
.justifyCenter {
  justify-content: center;
}
.hidden {
  visibility: hidden;
}

.item-wrap-init {
    top: 10%;
    position: relative;
  /*display: block;*/
    /*max-width: 100%;*/
    max-width: 251px; /*252*/
    height: 350px;
    /*text-align: center;*/
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 20px 0;*/
}
